# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.filters
*.vcxproj
*.user
*.pdb
*.sln
*.tlog
*.log
*.recipe
*.ilk
*.txt
*.idb
*.iobj
*.ipdb
/.vs/Cpp_Learning/FileContentIndex
/.vs/Cpp_Learning/v17/ipch/AutoPCH
/.vs/Cpp_Learning/v17/Browse.VC.opendb
/.vs/Cpp_Learning/v17/Browse.VC.db-wal
/.vs/Cpp_Learning/v17/Browse.VC.db-shm
/.vs/Cpp_Learning/v17/Browse.VC.db
/.vs/Cpp_Learning/v17/.suo
/Cpp_Learning/x64/Release/_IsIncrementalBuild
/Cpp_Learning/x64/Release
/Cpp_Learning/x64/Debug/_IsIncrementalBuild
/Cpp_Learning/x64/Debug
/Cpp_Learning/Debug/_IsIncrementalBuild
/.vs/Cpp_Learning/v17/.wsuo
*.json
/Cpp_Learning/aLL_examples_old.h
/Cpp_Learning/meta_programming.h
